; Main configuration file - tailor this to suit your needs

[ main ]
; Sites we receive e-mails for
local_domains=example.com
local_domains=example.org

; Primary site
masquerade_as=example.com

; addresses we forward unmunged
pass_through=example@gmail.com

; Smart host, or same as masquerade as
forward_to=example.com:25

; How to talk to ClamAV
; clamav=/var/run/clamav/clamd.ctl

; How to talk to SpamAssassin
spamassassin=/usr/sbin/spamc -c

; Verify DKIM?
enable_dkim=yes

; List of blacklisted countries
[ countries ]
MD=deny
RU=deny
CN=deny
BR=deny
UY=deny
TR=deny
MA=deny
VE=deny
SA=deny
CY=deny
CO=deny
KR=deny
MX=deny
IN=deny
RS=deny
PK=deny
TW=deny

; Mail aliases
[ aliases ]
root=njh
webmaster=njh
